.boton-contenedor{
  height: 83px;
  display: flex;
  flex: 1 1;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 38px;
  background-color: #1b1b32;
  color:white;
  border-radius: 25px;
  border: 2px solid white;
  margin: 4px;
  cursor: pointer;
  user-select: none;
}

.operador{
  background-color: #9b9af1;
}

.boton-contenedor:hover{
  background-color: #5a01a7;
}

.operador:hover{
  background-color: #ff6600;
}

/* .doble {
  flex: 1 2;
} */
.Boton-contenedor_item:nth-child(2) {
  flex: 2;
}